In [34]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [35]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-02-02 03:02:15,-46.6000,168.3333,71.80,85,89,10.56
1,1,Severo-Kurilsk,RU,2022-02-02 03:02:15,50.6789,156.1250,31.17,74,100,10.96
2,2,Bud,US,2022-02-02 03:02:15,39.4470,-86.1758,51.89,62,100,13.06
3,3,Mataura,NZ,2022-02-02 03:02:16,-46.1927,168.8643,71.47,45,98,8.75
4,4,Klaksvik,FO,2022-02-02 03:02:16,62.2266,-6.5890,36.52,72,100,21.07

In [36]:
# Get the data types
# One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [37]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [38]:
# create the heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows.
# 1. Assign the locations to an array of latitude and longitude pairs.
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Create a Percent Cloudiness Heatmap
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Create a Wind Speed Heatmap
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [46]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-02-02 03:02:15,-46.6000,168.3333,71.80,85,89,10.56
3,3,Mataura,NZ,2022-02-02 03:02:16,-46.1927,168.8643,71.47,45,98,8.75
10,10,Rikitea,PF,2022-02-02 02:57:50,-23.1203,-134.9692,78.40,69,90,4.99
14,14,Atuona,PF,2022-02-02 03:02:19,-9.8000,-139.0333,78.80,74,7,17.69
15,15,Kapaa,US,2022-02-02 03:02:19,22.0752,-159.3190,77.11,59,12,3.00
17,17,Meulaboh,ID,2022-02-02 03:02:19,4.1363,96.1285,82.11,71,42,4.45
21,21,Bambous Virieux,MU,2022-02-02 03:02:21,-20.3428,57.7575,81.21,91,100,31.25
23,23,Orapa,BW,2022-02-02 03:02:21,-21.2833,25.3667,70.12,74,7,10.54
24,24,Kavieng,PG,2022-02-02 02:57:47,-2.5744,150.7967,82.31,72,100,6.91
26,26,Busselton,AU,2022-02-02 03:00:35,-33.6500,115.3333,79.05,36,48,12.91

In [47]:
#preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()
preferred_cities_df.count()

City_ID       199
City          199
Country       197
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [48]:
#6.5.4 - Get Travel Destinations
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Bluff      NZ     71.80 -46.6000  168.3333
3           Mataura      NZ     71.47 -46.1927  168.8643
10          Rikitea      PF     78.40 -23.1203 -134.9692
14           Atuona      PF     78.80  -9.8000 -139.0333
15            Kapaa      US     77.11  22.0752 -159.3190
17         Meulaboh      ID     82.11   4.1363   96.1285
21  Bambous Virieux      MU     81.21 -20.3428   57.7575
23            Orapa      BW     70.12 -21.2833   25.3667
24          Kavieng      PG     82.31  -2.5744  150.7967
26        Busselton      AU     79.05 -33.6500  115.3333

In [49]:
# Retrieve Hotels from a Nearby Search
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bluff,NZ,71.80,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,Mataura,NZ,71.47,-46.1927,168.8643,Ellie's Villa
10,Rikitea,PF,78.40,-23.1203,-134.9692,People ThankYou
14,Atuona,PF,78.80,-9.8000,-139.0333,Villa Enata
15,Kapaa,US,77.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [56]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [67]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))